<!DOCTYPE html>
<html>
<head>
	<title>Pyrebase-Flask-Login</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'main.css') }}">
</head>
<body>
   
<div class="wrapper fadeInDown">
  <div id="formContent">
    <p>CHECK YOUR EMAIL WE HAVE SENT A PASSWORD RESET LINK</p>
    <button style="background-color: #48b3ff;
    color: #fff;" onclick="goHome()">LOGIN</button>
  </div>
</div>
<script> function goHome() {
    window.location.href = "/result";
}</script>
</body>
</html>